// IMPORT
@import '_colorstheme.scss';


body{
    background-color: $lighttheme;
    color: black;
}
h1{
    text-align: center;
    
}
#calScreen{
    background-color: silver;
    height: 150px;
    width: 35vw;
    margin: 0 auto;
    margin-top: 100px;
    opacity: 0.7;
    border: 1px solid black;
}
@media only screen and (max-width: 800px){
    #calScreen{
        width: 470px;
        margin-left: -8.5px;
    }
}
.calBody{
    background-color: salmon;
    width: 125px;
    height: 80px;
    margin-left: 836px;
    text-align: center;
    font-size: 55px;
    border: 1px solid white;
}
@media only screen and (max-width: 1200px){
    #calculator{
        margin-left: -500px;
        height: 1vh;
        
    }
}
#division{
    background-color: salmon;
    width: 7.8rem;
    height: 80px;
    margin-left: 836px;
    text-align: center;
    font-size: 60px;
    border: 1px solid white;
    &:hover{
        @for $i from 1 through 4{
            &:nth-of-type(#{$i}){
                font-weight: 700;
            }
        }
    }
}

#percent{
    margin-top: -82px;
    margin-left: 711px;
    display: flex;    
    height: 82px;
    padding-left: 35px;
        &:hover{
        @for $i from 1 through 4{
            &:nth-of-type(#{$i}){
                font-weight: 700;
            }
        }
    }
}
#plusMinus{
    margin-top: -82px;
    margin-left: 586px;
    font-size: 60px;
    display: flex;
    height: 82px;
    padding-left: 35px;
        &:hover{
            @for $i from 1 through 4{
                &:nth-of-type(#{$i}){
                    font-weight: 700;
                }
            }
        }
}
#c{
    margin-top: -82px;
    margin-left: 461px;
    display: flex;
    text-align: center;
    height: 82px;
    padding-left: 35px;
    &:hover{
        @for $i from 1 through 4 {
            &:nth-of-type(#{$i})  {
                font-weight: 700;
            }
        }
       
    }
}
#times{
    display: flex;
    margin-left: 836px;
    width: 7.9rem;
    padding-left: 45px;
    &:hover{
        @for $i from 1 through 4{
            &:nth-of-type(#{$i}){
                font-weight: 700;
            }
        }
    }
}
#nine{
display: flex;
margin-top: -80px;
margin-left: 711px;
padding-left: 45px;
    @for $i from 1 through 8{
        &:nth-of-type(#{$i}){
            &:hover{
                ~.number{
                    scale: 90%;
                    font-size: 55px;
                    background-color: gray;
                }
                }
            }
        }
            &:has(~.number:hover){
                scale: 95%;
                background-color: gray;
            }
          
    }
#eight{
display: flex;
margin-top: -80px;
margin-left: 586px;
padding-left: 45px;
@for $i from 1 through 8{
    &:nth-of-type(#{$i}){
        &:hover{
            ~.number{
                scale: 90%;
                font-size: 55px;
                background-color: gray;
                
            }
        }
    }
        &:has(~.number:hover){
            scale: 90%;
            font-size: 55px;
            background-color: gray;
        }
}
}
#seven{
display: flex;
margin-top: -80px;
margin-left: 461px;
padding-left: 45px;
@for $i from 1 through 19{
    &:nth-of-type(#{$i}){
        &:hover{
            ~.number{
                scale: 90%;
                font-size: 55px;
                background-color: gray;
            }
        }
    }
        &:has(~.number:hover){
            scale: 95%;
            font-size: 55px;
            background-color: gray;
        }
}
}
#minus{
    width: 7.9rem;
    &:hover{
    @for $i from 1 through 12{
        &:nth-of-type(#{$i}){
            font-weight: 700;
        }
    }
}
}
#six{
display: flex;
margin-top: -80px;
margin-left: 711px;
padding-left: 45px;
@for $i from 1 through 21{
    &:nth-of-type(#{$i}){
        &:hover{
            ~.number{
                scale: 90%;
                font-size: 55px;
                background-color: gray;
            }
        }
    }
        &:has(~.number:hover){
            scale: 95%;
            font-size: 55px;
            background-color: gray;
        }
}
}
#five{
display: flex;
margin-top: -80px;
margin-left: 586px;
padding-left: 45px;
@for $i from 1 through 11{
    &:nth-of-type(#{$i}){
        &:hover{
            ~.number{
                scale: 90%;
                font-size: 55px;
                background-color: gray;
            }
        }
    }
        &:has(~.number:hover){
            scale: 95%;
            font-size: 55px;
            background-color: gray;
        }
}
}
#four{
display: flex;
margin-top: -80px;
margin-left: 461px;
padding-left: 45px;
@for $i from 1 through 11{
    &:nth-of-type(#{$i}){
        &:hover{
            ~.number{
                scale: 90%;
                font-size: 55px;
                background-color: gray;
            }
        }
    }
        &:has(~.number:hover){
            scale: 95%;
            font-size: 55px;
            background-color: gray;
        }
}
}
#add{
    width: 7.9rem;
    &:hover{
        @for $i from 1 through 16{
            &:nth-of-type(#{$i}){
                font-weight: 700;
            }
        }
    }
}
#three{
display: flex;
margin-top: -80px;
margin-left: 711px;
padding-left: 45px;
@for $i from 1 through 17{
    &:nth-of-type(#{$i}){
        &:hover{
            ~.number{
                scale: 90%;
                font-size: 55px;
                background-color: gray;
            }
        }
    }
        &:has(~.number:hover){
            scale: 90%;
            font-size: 55px;
            background-color: gray;
        }
}
}
#two{
display: flex;
margin-top: -80px;
margin-left: 586px;
padding-left: 45px;
@for $i from 1 through 18{
    &:nth-of-type(#{$i}){
        &:hover{
            ~.number{
                scale: 95%;
                font-size: 55px;
                background-color: gray;
            }
        }
    }
        &:has(~.number:hover){
            scale: 95%;
            font-size: 55px;
            background-color: gray;
        }
}
}
#one{
    display: flex;
    margin-top: -80px;
    margin-left: 461px;
    padding-left: 45px;
    @for $i from 1 through 19{
        &:nth-of-type(#{$i}){
            &:hover{
                ~.number{
                    scale: 90%;
                    font-size: 55px;
                    background-color: gray;
                }
            }
        }
            &:has(~.number:hover){
                scale: 95%;
                font-size: 55px;
                background-color: gray;
            }
    }
}
#equals{
    width: 7.9rem;
    &:hover{
        @for $i from 1 through 19{
            &:nth-of-type(#{$i}){
                font-weight: 700;
            }
        }
    }
}
#decimal{
display: flex;
margin-top: -80px;
margin-left: 711px;
padding-left: 45px;
&:hover{
    @for $i from 1 through 18{
        &:nth-of-type(#{$i}){
            font-weight: 700;
        }
    }
}
}
#zero{
    display: flex;
    margin-top: -80px;
    margin-left: 461px;
    padding-left: 45px;
    width: 250px;
    padding-left: 110px;
    &:hover{
        @for $i from 1 through 19{
            &:nth-of-type(#{$i}){
                scale: 95%;
                background-color: #fcb1a8;
                font-size: 60px;
            }
        }
        &:has(~.number:hover){
            scale: 95%;
            font-size: 55px;
            background-color: gray;
        }
    }
}
// LOOPS
        //Please let me know if I did this loop correctly - unsure how to test it.
@mixin theme ($bodytheme){
@if $bodytheme == $lighttheme{
    background-color: white;
    color: black;
}
@else {
    background-color: $darktheme;
}
}
