body {
  background-color: white;
  color: black;
}

h1 {
  text-align: center;
}

#calScreen {
  background-color: silver;
  height: 150px;
  width: 35vw;
  margin: 0 auto;
  margin-top: 100px;
  opacity: 0.7;
  border: 1px solid black;
}

@media only screen and (max-width: 800px) {
  #calScreen {
    width: 470px;
    margin-left: -8.5px;
  }
}
.calBody {
  background-color: salmon;
  width: 125px;
  height: 80px;
  margin-left: 836px;
  text-align: center;
  font-size: 55px;
  border: 1px solid white;
}

@media only screen and (max-width: 1200px) {
  #calculator {
    margin-left: -500px;
    height: 1vh;
  }
}
#division {
  background-color: salmon;
  width: 7.8rem;
  height: 80px;
  margin-left: 836px;
  text-align: center;
  font-size: 60px;
  border: 1px solid white;
}
#division:hover:nth-of-type(1) {
  font-weight: 700;
}
#division:hover:nth-of-type(2) {
  font-weight: 700;
}
#division:hover:nth-of-type(3) {
  font-weight: 700;
}
#division:hover:nth-of-type(4) {
  font-weight: 700;
}

#percent {
  margin-top: -82px;
  margin-left: 711px;
  display: flex;
  height: 82px;
  padding-left: 35px;
}
#percent:hover:nth-of-type(1) {
  font-weight: 700;
}
#percent:hover:nth-of-type(2) {
  font-weight: 700;
}
#percent:hover:nth-of-type(3) {
  font-weight: 700;
}
#percent:hover:nth-of-type(4) {
  font-weight: 700;
}

#plusMinus {
  margin-top: -82px;
  margin-left: 586px;
  font-size: 60px;
  display: flex;
  height: 82px;
  padding-left: 35px;
}
#plusMinus:hover:nth-of-type(1) {
  font-weight: 700;
}
#plusMinus:hover:nth-of-type(2) {
  font-weight: 700;
}
#plusMinus:hover:nth-of-type(3) {
  font-weight: 700;
}
#plusMinus:hover:nth-of-type(4) {
  font-weight: 700;
}

#c {
  margin-top: -82px;
  margin-left: 461px;
  display: flex;
  text-align: center;
  height: 82px;
  padding-left: 35px;
}
#c:hover:nth-of-type(1) {
  font-weight: 700;
}
#c:hover:nth-of-type(2) {
  font-weight: 700;
}
#c:hover:nth-of-type(3) {
  font-weight: 700;
}
#c:hover:nth-of-type(4) {
  font-weight: 700;
}

#times {
  display: flex;
  margin-left: 836px;
  width: 7.9rem;
  padding-left: 45px;
}
#times:hover:nth-of-type(1) {
  font-weight: 700;
}
#times:hover:nth-of-type(2) {
  font-weight: 700;
}
#times:hover:nth-of-type(3) {
  font-weight: 700;
}
#times:hover:nth-of-type(4) {
  font-weight: 700;
}

#nine {
  display: flex;
  margin-top: -80px;
  margin-left: 711px;
  padding-left: 45px;
}
#nine:nth-of-type(1):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#nine:nth-of-type(2):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#nine:nth-of-type(3):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#nine:nth-of-type(4):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#nine:nth-of-type(5):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#nine:nth-of-type(6):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#nine:nth-of-type(7):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#nine:nth-of-type(8):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#nine:has(~ .number:hover) {
  scale: 95%;
  background-color: gray;
}

#eight {
  display: flex;
  margin-top: -80px;
  margin-left: 586px;
  padding-left: 45px;
}
#eight:nth-of-type(1):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#eight:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#eight:nth-of-type(2):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#eight:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#eight:nth-of-type(3):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#eight:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#eight:nth-of-type(4):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#eight:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#eight:nth-of-type(5):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#eight:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#eight:nth-of-type(6):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#eight:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#eight:nth-of-type(7):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#eight:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#eight:nth-of-type(8):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#eight:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}

#seven {
  display: flex;
  margin-top: -80px;
  margin-left: 461px;
  padding-left: 45px;
}
#seven:nth-of-type(1):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#seven:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#seven:nth-of-type(2):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#seven:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#seven:nth-of-type(3):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#seven:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#seven:nth-of-type(4):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#seven:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#seven:nth-of-type(5):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#seven:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#seven:nth-of-type(6):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#seven:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#seven:nth-of-type(7):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#seven:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#seven:nth-of-type(8):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#seven:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#seven:nth-of-type(9):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#seven:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#seven:nth-of-type(10):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#seven:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#seven:nth-of-type(11):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#seven:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#seven:nth-of-type(12):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#seven:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#seven:nth-of-type(13):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#seven:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#seven:nth-of-type(14):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#seven:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#seven:nth-of-type(15):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#seven:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#seven:nth-of-type(16):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#seven:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#seven:nth-of-type(17):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#seven:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#seven:nth-of-type(18):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#seven:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#seven:nth-of-type(19):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#seven:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}

#minus {
  width: 7.9rem;
}
#minus:hover:nth-of-type(1) {
  font-weight: 700;
}
#minus:hover:nth-of-type(2) {
  font-weight: 700;
}
#minus:hover:nth-of-type(3) {
  font-weight: 700;
}
#minus:hover:nth-of-type(4) {
  font-weight: 700;
}
#minus:hover:nth-of-type(5) {
  font-weight: 700;
}
#minus:hover:nth-of-type(6) {
  font-weight: 700;
}
#minus:hover:nth-of-type(7) {
  font-weight: 700;
}
#minus:hover:nth-of-type(8) {
  font-weight: 700;
}
#minus:hover:nth-of-type(9) {
  font-weight: 700;
}
#minus:hover:nth-of-type(10) {
  font-weight: 700;
}
#minus:hover:nth-of-type(11) {
  font-weight: 700;
}
#minus:hover:nth-of-type(12) {
  font-weight: 700;
}

#six {
  display: flex;
  margin-top: -80px;
  margin-left: 711px;
  padding-left: 45px;
}
#six:nth-of-type(1):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#six:nth-of-type(2):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#six:nth-of-type(3):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#six:nth-of-type(4):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#six:nth-of-type(5):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#six:nth-of-type(6):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#six:nth-of-type(7):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#six:nth-of-type(8):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#six:nth-of-type(9):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#six:nth-of-type(10):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#six:nth-of-type(11):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#six:nth-of-type(12):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#six:nth-of-type(13):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#six:nth-of-type(14):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#six:nth-of-type(15):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#six:nth-of-type(16):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#six:nth-of-type(17):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#six:nth-of-type(18):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#six:nth-of-type(19):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#six:nth-of-type(20):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#six:nth-of-type(21):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#six:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}

#five {
  display: flex;
  margin-top: -80px;
  margin-left: 586px;
  padding-left: 45px;
}
#five:nth-of-type(1):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#five:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#five:nth-of-type(2):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#five:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#five:nth-of-type(3):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#five:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#five:nth-of-type(4):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#five:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#five:nth-of-type(5):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#five:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#five:nth-of-type(6):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#five:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#five:nth-of-type(7):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#five:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#five:nth-of-type(8):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#five:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#five:nth-of-type(9):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#five:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#five:nth-of-type(10):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#five:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#five:nth-of-type(11):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#five:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}

#four {
  display: flex;
  margin-top: -80px;
  margin-left: 461px;
  padding-left: 45px;
}
#four:nth-of-type(1):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#four:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#four:nth-of-type(2):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#four:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#four:nth-of-type(3):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#four:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#four:nth-of-type(4):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#four:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#four:nth-of-type(5):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#four:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#four:nth-of-type(6):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#four:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#four:nth-of-type(7):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#four:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#four:nth-of-type(8):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#four:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#four:nth-of-type(9):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#four:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#four:nth-of-type(10):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#four:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#four:nth-of-type(11):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#four:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}

#add {
  width: 7.9rem;
}
#add:hover:nth-of-type(1) {
  font-weight: 700;
}
#add:hover:nth-of-type(2) {
  font-weight: 700;
}
#add:hover:nth-of-type(3) {
  font-weight: 700;
}
#add:hover:nth-of-type(4) {
  font-weight: 700;
}
#add:hover:nth-of-type(5) {
  font-weight: 700;
}
#add:hover:nth-of-type(6) {
  font-weight: 700;
}
#add:hover:nth-of-type(7) {
  font-weight: 700;
}
#add:hover:nth-of-type(8) {
  font-weight: 700;
}
#add:hover:nth-of-type(9) {
  font-weight: 700;
}
#add:hover:nth-of-type(10) {
  font-weight: 700;
}
#add:hover:nth-of-type(11) {
  font-weight: 700;
}
#add:hover:nth-of-type(12) {
  font-weight: 700;
}
#add:hover:nth-of-type(13) {
  font-weight: 700;
}
#add:hover:nth-of-type(14) {
  font-weight: 700;
}
#add:hover:nth-of-type(15) {
  font-weight: 700;
}
#add:hover:nth-of-type(16) {
  font-weight: 700;
}

#three {
  display: flex;
  margin-top: -80px;
  margin-left: 711px;
  padding-left: 45px;
}
#three:nth-of-type(1):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:nth-of-type(2):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:nth-of-type(3):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:nth-of-type(4):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:nth-of-type(5):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:nth-of-type(6):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:nth-of-type(7):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:nth-of-type(8):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:nth-of-type(9):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:nth-of-type(10):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:nth-of-type(11):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:nth-of-type(12):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:nth-of-type(13):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:nth-of-type(14):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:nth-of-type(15):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:nth-of-type(16):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:nth-of-type(17):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#three:has(~ .number:hover) {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}

#two {
  display: flex;
  margin-top: -80px;
  margin-left: 586px;
  padding-left: 45px;
}
#two:nth-of-type(1):hover ~ .number {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:nth-of-type(2):hover ~ .number {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:nth-of-type(3):hover ~ .number {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:nth-of-type(4):hover ~ .number {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:nth-of-type(5):hover ~ .number {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:nth-of-type(6):hover ~ .number {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:nth-of-type(7):hover ~ .number {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:nth-of-type(8):hover ~ .number {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:nth-of-type(9):hover ~ .number {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:nth-of-type(10):hover ~ .number {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:nth-of-type(11):hover ~ .number {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:nth-of-type(12):hover ~ .number {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:nth-of-type(13):hover ~ .number {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:nth-of-type(14):hover ~ .number {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:nth-of-type(15):hover ~ .number {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:nth-of-type(16):hover ~ .number {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:nth-of-type(17):hover ~ .number {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:nth-of-type(18):hover ~ .number {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#two:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}

#one {
  display: flex;
  margin-top: -80px;
  margin-left: 461px;
  padding-left: 45px;
}
#one:nth-of-type(1):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#one:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#one:nth-of-type(2):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#one:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#one:nth-of-type(3):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#one:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#one:nth-of-type(4):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#one:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#one:nth-of-type(5):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#one:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#one:nth-of-type(6):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#one:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#one:nth-of-type(7):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#one:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#one:nth-of-type(8):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#one:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#one:nth-of-type(9):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#one:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#one:nth-of-type(10):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#one:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#one:nth-of-type(11):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#one:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#one:nth-of-type(12):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#one:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#one:nth-of-type(13):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#one:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#one:nth-of-type(14):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#one:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#one:nth-of-type(15):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#one:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#one:nth-of-type(16):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#one:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#one:nth-of-type(17):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#one:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#one:nth-of-type(18):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#one:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}
#one:nth-of-type(19):hover ~ .number {
  scale: 90%;
  font-size: 55px;
  background-color: gray;
}
#one:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}

#equals {
  width: 7.9rem;
}
#equals:hover:nth-of-type(1) {
  font-weight: 700;
}
#equals:hover:nth-of-type(2) {
  font-weight: 700;
}
#equals:hover:nth-of-type(3) {
  font-weight: 700;
}
#equals:hover:nth-of-type(4) {
  font-weight: 700;
}
#equals:hover:nth-of-type(5) {
  font-weight: 700;
}
#equals:hover:nth-of-type(6) {
  font-weight: 700;
}
#equals:hover:nth-of-type(7) {
  font-weight: 700;
}
#equals:hover:nth-of-type(8) {
  font-weight: 700;
}
#equals:hover:nth-of-type(9) {
  font-weight: 700;
}
#equals:hover:nth-of-type(10) {
  font-weight: 700;
}
#equals:hover:nth-of-type(11) {
  font-weight: 700;
}
#equals:hover:nth-of-type(12) {
  font-weight: 700;
}
#equals:hover:nth-of-type(13) {
  font-weight: 700;
}
#equals:hover:nth-of-type(14) {
  font-weight: 700;
}
#equals:hover:nth-of-type(15) {
  font-weight: 700;
}
#equals:hover:nth-of-type(16) {
  font-weight: 700;
}
#equals:hover:nth-of-type(17) {
  font-weight: 700;
}
#equals:hover:nth-of-type(18) {
  font-weight: 700;
}
#equals:hover:nth-of-type(19) {
  font-weight: 700;
}

#decimal {
  display: flex;
  margin-top: -80px;
  margin-left: 711px;
  padding-left: 45px;
}
#decimal:hover:nth-of-type(1) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(2) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(3) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(4) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(5) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(6) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(7) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(8) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(9) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(10) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(11) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(12) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(13) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(14) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(15) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(16) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(17) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(18) {
  font-weight: 700;
}

#zero {
  display: flex;
  margin-top: -80px;
  margin-left: 461px;
  padding-left: 45px;
  width: 250px;
  padding-left: 110px;
}
#zero:hover:nth-of-type(1) {
  scale: 95%;
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(2) {
  scale: 95%;
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(3) {
  scale: 95%;
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(4) {
  scale: 95%;
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(5) {
  scale: 95%;
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(6) {
  scale: 95%;
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(7) {
  scale: 95%;
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(8) {
  scale: 95%;
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(9) {
  scale: 95%;
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(10) {
  scale: 95%;
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(11) {
  scale: 95%;
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(12) {
  scale: 95%;
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(13) {
  scale: 95%;
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(14) {
  scale: 95%;
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(15) {
  scale: 95%;
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(16) {
  scale: 95%;
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(17) {
  scale: 95%;
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(18) {
  scale: 95%;
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(19) {
  scale: 95%;
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:has(~ .number:hover) {
  scale: 95%;
  font-size: 55px;
  background-color: gray;
}/*# sourceMappingURL=main.css.map */