body {
  background-color: white;
  color: black;
}

h1 {
  text-align: center;
}

#calScreen {
  background-color: silver;
  height: 150px;
  width: 100vw;
  margin: 0 auto;
  margin-top: 100px;
  opacity: 0.7;
  border: 1px solid black;
}

@media only screen and (max-width: 800px) {
  #calScreen {
    width: 470px;
    margin-left: -8.5px;
  }
}
.calBody {
  background-color: salmon;
  width: 125px;
  height: 80px;
  margin-left: 836px;
  text-align: center;
  font-size: 55px;
  border: 1px solid white;
}

@media only screen and (max-width: 1200px) {
  #calculator {
    margin-left: -500px;
    height: 1vh;
  }
}
#division {
  background-color: salmon;
  width: 7.8rem;
  height: 80px;
  margin-left: 836px;
  text-align: center;
  font-size: 60px;
  border: 1px solid white;
}
#division:hover:nth-of-type(1) {
  font-weight: 700;
}
#division:hover:nth-of-type(2) {
  font-weight: 700;
}
#division:hover:nth-of-type(3) {
  font-weight: 700;
}
#division:hover:nth-of-type(4) {
  font-weight: 700;
}

#percent {
  margin-top: -82px;
  margin-left: 711px;
  display: flex;
  height: 82px;
  padding-left: 35px;
}
#percent:hover:nth-of-type(1) {
  font-weight: 700;
}
#percent:hover:nth-of-type(2) {
  font-weight: 700;
}
#percent:hover:nth-of-type(3) {
  font-weight: 700;
}
#percent:hover:nth-of-type(4) {
  font-weight: 700;
}

#plusMinus {
  margin-top: -82px;
  margin-left: 586px;
  font-size: 60px;
  display: flex;
  height: 82px;
  padding-left: 35px;
}
#plusMinus:hover:nth-of-type(1) {
  font-weight: 700;
}
#plusMinus:hover:nth-of-type(2) {
  font-weight: 700;
}
#plusMinus:hover:nth-of-type(3) {
  font-weight: 700;
}
#plusMinus:hover:nth-of-type(4) {
  font-weight: 700;
}

#c {
  margin-top: -82px;
  margin-left: 461px;
  display: flex;
  text-align: center;
  height: 82px;
  padding-left: 35px;
}
#c:hover:nth-of-type(1) {
  font-weight: 700;
}
#c:hover:nth-of-type(2) {
  font-weight: 700;
}
#c:hover:nth-of-type(3) {
  font-weight: 700;
}
#c:hover:nth-of-type(4) {
  font-weight: 700;
}

#times {
  display: flex;
  margin-left: 836px;
  width: 7.9rem;
  padding-left: 45px;
}
#times:hover:nth-of-type(1) {
  font-weight: 700;
}
#times:hover:nth-of-type(2) {
  font-weight: 700;
}
#times:hover:nth-of-type(3) {
  font-weight: 700;
}
#times:hover:nth-of-type(4) {
  font-weight: 700;
}

#nine {
  display: flex;
  margin-top: -80px;
  margin-left: 711px;
  padding-left: 45px;
}
#nine:hover:nth-of-type(1) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#nine:hover:nth-of-type(2) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#nine:hover:nth-of-type(3) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#nine:hover:nth-of-type(4) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#nine:hover:nth-of-type(5) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#nine:hover:nth-of-type(6) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#nine:hover:nth-of-type(7) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#nine:hover:nth-of-type(8) {
  background-color: #fcb1a8;
  font-size: 60px;
}

#eight {
  display: flex;
  margin-top: -80px;
  margin-left: 586px;
  padding-left: 45px;
}
#eight:hover:nth-of-type(1) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#eight:hover:nth-of-type(2) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#eight:hover:nth-of-type(3) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#eight:hover:nth-of-type(4) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#eight:hover:nth-of-type(5) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#eight:hover:nth-of-type(6) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#eight:hover:nth-of-type(7) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#eight:hover:nth-of-type(8) {
  background-color: #fcb1a8;
  font-size: 60px;
}

#seven {
  display: flex;
  margin-top: -80px;
  margin-left: 461px;
  padding-left: 45px;
}
#seven:hover:nth-of-type(1) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#seven:hover:nth-of-type(2) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#seven:hover:nth-of-type(3) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#seven:hover:nth-of-type(4) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#seven:hover:nth-of-type(5) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#seven:hover:nth-of-type(6) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#seven:hover:nth-of-type(7) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#seven:hover:nth-of-type(8) {
  background-color: #fcb1a8;
  font-size: 60px;
}

#minus {
  width: 7.9rem;
}
#minus:hover:nth-of-type(1) {
  font-weight: 700;
}
#minus:hover:nth-of-type(2) {
  font-weight: 700;
}
#minus:hover:nth-of-type(3) {
  font-weight: 700;
}
#minus:hover:nth-of-type(4) {
  font-weight: 700;
}
#minus:hover:nth-of-type(5) {
  font-weight: 700;
}
#minus:hover:nth-of-type(6) {
  font-weight: 700;
}
#minus:hover:nth-of-type(7) {
  font-weight: 700;
}
#minus:hover:nth-of-type(8) {
  font-weight: 700;
}
#minus:hover:nth-of-type(9) {
  font-weight: 700;
}
#minus:hover:nth-of-type(10) {
  font-weight: 700;
}
#minus:hover:nth-of-type(11) {
  font-weight: 700;
}
#minus:hover:nth-of-type(12) {
  font-weight: 700;
}

#six {
  display: flex;
  margin-top: -80px;
  margin-left: 711px;
  padding-left: 45px;
}
#six:hover:nth-of-type(1) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#six:hover:nth-of-type(2) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#six:hover:nth-of-type(3) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#six:hover:nth-of-type(4) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#six:hover:nth-of-type(5) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#six:hover:nth-of-type(6) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#six:hover:nth-of-type(7) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#six:hover:nth-of-type(8) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#six:hover:nth-of-type(9) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#six:hover:nth-of-type(10) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#six:hover:nth-of-type(11) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#six:hover:nth-of-type(12) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#six:hover:nth-of-type(13) {
  background-color: #fcb1a8;
  font-size: 60px;
}

#five {
  display: flex;
  margin-top: -80px;
  margin-left: 586px;
  padding-left: 45px;
}
#five:hover:nth-of-type(1) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#five:hover:nth-of-type(2) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#five:hover:nth-of-type(3) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#five:hover:nth-of-type(4) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#five:hover:nth-of-type(5) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#five:hover:nth-of-type(6) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#five:hover:nth-of-type(7) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#five:hover:nth-of-type(8) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#five:hover:nth-of-type(9) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#five:hover:nth-of-type(10) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#five:hover:nth-of-type(11) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#five:hover:nth-of-type(12) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#five:hover:nth-of-type(13) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#five:hover:nth-of-type(14) {
  background-color: #fcb1a8;
  font-size: 60px;
}

#four {
  display: flex;
  margin-top: -80px;
  margin-left: 461px;
  padding-left: 45px;
}
#four:hover:nth-of-type(1) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#four:hover:nth-of-type(2) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#four:hover:nth-of-type(3) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#four:hover:nth-of-type(4) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#four:hover:nth-of-type(5) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#four:hover:nth-of-type(6) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#four:hover:nth-of-type(7) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#four:hover:nth-of-type(8) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#four:hover:nth-of-type(9) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#four:hover:nth-of-type(10) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#four:hover:nth-of-type(11) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#four:hover:nth-of-type(12) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#four:hover:nth-of-type(13) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#four:hover:nth-of-type(14) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#four:hover:nth-of-type(15) {
  background-color: #fcb1a8;
  font-size: 60px;
}

#add {
  width: 7.9rem;
}
#add:hover:nth-of-type(1) {
  font-weight: 700;
}
#add:hover:nth-of-type(2) {
  font-weight: 700;
}
#add:hover:nth-of-type(3) {
  font-weight: 700;
}
#add:hover:nth-of-type(4) {
  font-weight: 700;
}
#add:hover:nth-of-type(5) {
  font-weight: 700;
}
#add:hover:nth-of-type(6) {
  font-weight: 700;
}
#add:hover:nth-of-type(7) {
  font-weight: 700;
}
#add:hover:nth-of-type(8) {
  font-weight: 700;
}
#add:hover:nth-of-type(9) {
  font-weight: 700;
}
#add:hover:nth-of-type(10) {
  font-weight: 700;
}
#add:hover:nth-of-type(11) {
  font-weight: 700;
}
#add:hover:nth-of-type(12) {
  font-weight: 700;
}
#add:hover:nth-of-type(13) {
  font-weight: 700;
}
#add:hover:nth-of-type(14) {
  font-weight: 700;
}
#add:hover:nth-of-type(15) {
  font-weight: 700;
}
#add:hover:nth-of-type(16) {
  font-weight: 700;
}

#three {
  display: flex;
  margin-top: -80px;
  margin-left: 711px;
  padding-left: 45px;
}
#three:hover:nth-of-type(1) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#three:hover:nth-of-type(2) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#three:hover:nth-of-type(3) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#three:hover:nth-of-type(4) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#three:hover:nth-of-type(5) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#three:hover:nth-of-type(6) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#three:hover:nth-of-type(7) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#three:hover:nth-of-type(8) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#three:hover:nth-of-type(9) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#three:hover:nth-of-type(10) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#three:hover:nth-of-type(11) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#three:hover:nth-of-type(12) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#three:hover:nth-of-type(13) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#three:hover:nth-of-type(14) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#three:hover:nth-of-type(15) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#three:hover:nth-of-type(16) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#three:hover:nth-of-type(17) {
  background-color: #fcb1a8;
  font-size: 60px;
}

#two {
  display: flex;
  margin-top: -80px;
  margin-left: 586px;
  padding-left: 45px;
}
#two:hover:nth-of-type(1) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#two:hover:nth-of-type(2) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#two:hover:nth-of-type(3) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#two:hover:nth-of-type(4) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#two:hover:nth-of-type(5) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#two:hover:nth-of-type(6) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#two:hover:nth-of-type(7) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#two:hover:nth-of-type(8) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#two:hover:nth-of-type(9) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#two:hover:nth-of-type(10) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#two:hover:nth-of-type(11) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#two:hover:nth-of-type(12) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#two:hover:nth-of-type(13) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#two:hover:nth-of-type(14) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#two:hover:nth-of-type(15) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#two:hover:nth-of-type(16) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#two:hover:nth-of-type(17) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#two:hover:nth-of-type(18) {
  background-color: #fcb1a8;
  font-size: 60px;
}

#one {
  display: flex;
  margin-top: -80px;
  margin-left: 461px;
  padding-left: 45px;
}
#one:hover:nth-of-type(1) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#one:hover:nth-of-type(2) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#one:hover:nth-of-type(3) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#one:hover:nth-of-type(4) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#one:hover:nth-of-type(5) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#one:hover:nth-of-type(6) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#one:hover:nth-of-type(7) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#one:hover:nth-of-type(8) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#one:hover:nth-of-type(9) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#one:hover:nth-of-type(10) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#one:hover:nth-of-type(11) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#one:hover:nth-of-type(12) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#one:hover:nth-of-type(13) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#one:hover:nth-of-type(14) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#one:hover:nth-of-type(15) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#one:hover:nth-of-type(16) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#one:hover:nth-of-type(17) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#one:hover:nth-of-type(18) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#one:hover:nth-of-type(19) {
  background-color: #fcb1a8;
  font-size: 60px;
}

#equals {
  width: 7.9rem;
}
#equals:hover:nth-of-type(1) {
  font-weight: 700;
}
#equals:hover:nth-of-type(2) {
  font-weight: 700;
}
#equals:hover:nth-of-type(3) {
  font-weight: 700;
}
#equals:hover:nth-of-type(4) {
  font-weight: 700;
}
#equals:hover:nth-of-type(5) {
  font-weight: 700;
}
#equals:hover:nth-of-type(6) {
  font-weight: 700;
}
#equals:hover:nth-of-type(7) {
  font-weight: 700;
}
#equals:hover:nth-of-type(8) {
  font-weight: 700;
}
#equals:hover:nth-of-type(9) {
  font-weight: 700;
}
#equals:hover:nth-of-type(10) {
  font-weight: 700;
}
#equals:hover:nth-of-type(11) {
  font-weight: 700;
}
#equals:hover:nth-of-type(12) {
  font-weight: 700;
}
#equals:hover:nth-of-type(13) {
  font-weight: 700;
}
#equals:hover:nth-of-type(14) {
  font-weight: 700;
}
#equals:hover:nth-of-type(15) {
  font-weight: 700;
}
#equals:hover:nth-of-type(16) {
  font-weight: 700;
}
#equals:hover:nth-of-type(17) {
  font-weight: 700;
}
#equals:hover:nth-of-type(18) {
  font-weight: 700;
}
#equals:hover:nth-of-type(19) {
  font-weight: 700;
}

#decimal {
  display: flex;
  margin-top: -80px;
  margin-left: 711px;
  padding-left: 45px;
}
#decimal:hover:nth-of-type(1) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(2) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(3) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(4) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(5) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(6) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(7) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(8) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(9) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(10) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(11) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(12) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(13) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(14) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(15) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(16) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(17) {
  font-weight: 700;
}
#decimal:hover:nth-of-type(18) {
  font-weight: 700;
}

#zero {
  display: flex;
  margin-top: -80px;
  margin-left: 461px;
  padding-left: 45px;
  width: 250px;
  padding-left: 110px;
}
#zero:hover:nth-of-type(1) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(2) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(3) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(4) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(5) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(6) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(7) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(8) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(9) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(10) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(11) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(12) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(13) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(14) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(15) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(16) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(17) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(18) {
  background-color: #fcb1a8;
  font-size: 60px;
}
#zero:hover:nth-of-type(19) {
  background-color: #fcb1a8;
  font-size: 60px;
}/*# sourceMappingURL=main.css.map */